{% extends "base.html" %}

{% block title %}Employee Records{% endblock title %}

{% block content %}
<div class="col-md-12">
    <span><a href="/addnew" class="btn btn-primary" style="background-color:rgb(23,23,23)">Add Record</a></span>
    <br>
    <span>
        <br>
        <form class="d-flex" role="search" action="{% url 'search' %}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="qry" style="width: 300px;">
            <button class="btn btn-primary" type="submit" style="background-color:rgb(23,23,23);color:white">Search</button>
          </form>
    </span>
    <div class="table-responsive">
        <br>
        <br>
        <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <br>
            <thead style="background-color: rgb(23,23,23) ">

                <th><input type="checkbox" id="checkall" /></th>
                <th style="color:white;">ID</th>

                <th style="color:white;">Employee Name</th>
                <th style="color:white;">Employee Email</th>
                <th style="color:white;">Employee Contact</th>
                <th style="color:white;">Action</th>
                <th style="color:white;display: none;">Delete</th>
            </thead>
            <tbody>
                <form action="{% url 'cancel_allrecord' %}" method="post">
                    {% for employee in Searchdata %}
                    <tr style="background-color: rgb(23, 23, 23)">
                        <td>

                            {% csrf_token %}
                            <input name="selected_enteries" value="{{ employee.id }}" type="checkbox"
                                class="checkthis" />



                        </td>
                        <td style="color:white; font-family:  Times New Roman, Times, serif;">{{ employee.id }}</td>
                        <td style="color:white; font-family: Times New Roman, Times, serif;">{{ employee.name }}</td>
                        <td style="color:white">{{ employee.email }}</td>
                        <td style="color:white">{{ employee.contact }}</td>
                        <!--  -->
                        <td><a href="{% url 'edit' employee.id %}" class="btn btn-primary"
                                style="background-color:rgb(134, 229, 250);color:black">Edit</a>
                        <a href="{% url 'delete' employee.id %}" class="btn btn-danger"
                                style="background-color:rgb(240, 82, 82);color:black">Delete</a></td>



                        <!--  -->

                    </tr>
                    {% endfor %}
                    <button type="submit">delete All</button>
                </form>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}